* {
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    background-color: rgb(240, 197, 9);
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive {
    width: 100%;
}

.text-right {
    text-align: right;
}

.clearfix {
    clear: both;
    float: none;
}

a {
    color: #ff6b81;
    text-decoration: none;
}
a:hover {
    color: #ff4757;
}

.logo {
    width: 6%;
    float: left;
}
.menu {
    line-height: 60px;
}
.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
}
